/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
  font-family: $stack-serif;
  color: $dark-grey;
  box-sizing: border-box;
}

p {
  line-height: 1.45em;
}

a {
  text-decoration: none;
}


/* ============================================= */
/*              Typography                       */
/* ============================================= */

.headline-primary {
  color: $viking;
  margin-left: 10px;
  padding-left: 15px;
  margin-bottom: 1em;
}

.headline-secondary {
  font-weight: $fw-sm;
  color: $dark-grey;
  font-size: $fs;
  margin-left: .5rem;
}

.link {
  color: $malibu;
  font-weight: $fw-lg;
  font-size: $fs;
  text-decoration: none;
}

.blockquote {
  font-size: $fs;
  font-weight: $fw-sm;
  font-style: italic;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 8px solid $viking;
  border-radius: $br;
}
