/* ============================================= */
/*              Mixins                   */
/* ============================================= */
@mixin mq($brk) {
  @media(min-width: $brk) {
    @content;
  }
}

@mixin column-colors {
  @for $i from 1 through $column-numbers {
    &-#{$i} {
      background-color: nth($colors-column, $i);
    }
  }
}

@mixin columns {
  @for $i from 1 through $column-numbers {
    .col-#{$i} {
      $j: 100 /$column-numbers *$i;
      $k: decimal-round($j, 2, round);
      flex-basis: $k * 1%
    }
  }
}
