/* ============================================= */
/*      Descriptive Color Variables                */
/* ============================================= */
$white: #fff;
$dark-grey: #777;
$light-grey: #ccc;
$viking: #58e1c1;
$malibu: #51ddfc;
$purple-mountain-majesty: #927bc1;
$coral: #fd7856;
$french-lilac: #deb2ee;
$anakiwa: #7ee6fd;
$vista-blue:  #88d9a0;
$fountain-blue: #4da2bb;
$sea-pink:  #ec9fa3;
$vivid-tangerine: #fd9f85;
$sunglo: #e4757a;
$emerald: #63cc82;
$riptide: #80e8d1;

/* ============================================= */
/*              Font Weight                  */
/* ============================================= */
$fw-sm: 300;
$fw-lg: 700;

/* ============================================= */
/*              Font size                  */
/* ============================================= */
$fs: 1em;

/* ============================================= */
/*              Media Query Breakpoints                  */
/* ============================================= */

$brk-wide: '(min-width: 768px)';

/* ============================================= */
/*              Font Stacks                  */
/* ============================================= */

$stack-serif: "Times New Roman", Times, serif;

/* ============================================= */
/*              Border Radius                 */
/* ============================================= */

$br: 5px;
