/* ============================================= */
/*              Color Variables                   */
/* ============================================= */

$color-primary: #58e1c1;
$color-secondary:  #51ddfc;
$color-tertiary: #927bc1;
$color-quaternary: #fd7856;
$color-quinary: #deb2ee;
$color-senary: #7ee6fd;
$color-septenary: #88d9a0;
$color-octonary: #4da2bb;
$color-nonary: #ec9fa3;
$color-denary: #fd9f85;
$color-eleven: #e4757a;
$color-duodenary: #63cc82;
$color-thirteen: #80e8d1;
$color-fourteen: #777;
$color-fifteen: #fff;
$color-sixteen: #ccc;

/* ============================================= */
/*              Media Query Breakpoints                  */
/* ============================================= */

$brk-narrow: '(min-width: 768px)';
