/* ============================================= */
/*              Buttons                          */
/* ============================================= */
$buttons:
'default' $color-default,
'error' $color-error,
'info'  $color-info,
'success' $color-success,
'warning'$color-warning;


.btn {
  margin-top: 15px;
  width: 100%;
  color: $color-bakground;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: $br;

  @media #{$brk-wide} {
    padding: 10px 30px;
  }
}
