/* ============================================= */
/*              Forms                            */
/* ============================================= */

.form {
  flex-basis: 100%;
}

.input{
  display: block;
  width: 94%;
  margin: $standard-spacing auto 0;
  border: none;
  padding: $standard-spacing;
  border-bottom: 5px solid $color-primary-theme;
}

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
