/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
  padding: 0 $standard-spacing;
}

.row {
  display: flex;
  flex-direction: column;
  padding: 1em $standard-spacing;
}

[class^=col] {
  margin-top: $standard-spacing;
  flex-basis: 100%;
  min-height: 25px;
  padding: $standard-spacing;
  border-radius: $br;
}

.theme.col {
  @include column-colors
}

.card {
  flex-basis: 100%;
}
