/* ============================================= */
/*              Media Queries                    */
/* ============================================= */
 @include mq($brk) {

.container {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 1400px;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.row {
  flex-direction: row;
}

[class^=col] {
  display: flex;
  justify-content: center;
  margin-top: 0;
  align-items: center;
}

[class^=col] + [class^=col] {
  margin-left: $standard-spacing;
}

@include columns;


.nav {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;


&-link {
  flex-basis: 100px;
}
}

.btn {
  padding: $standard-spacing 30px;

 + .btn {
  margin-left: 10px;
}
}

.logo {
  margin-left: initial;
  margin-right: initial;
}
}
